*.bat
*.bmp
*.class
*.iml
*.launch
*.pfcolors
*.pxf
*.sh
*.txt
*.xcf

# directories to exclude
.gradle/
.idea/
.settings/
bin/
build/
forge-*/
gradle/
out/
run/

# specific files to exclude
.classpath
.project
gradlew

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
